:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan1: hsl(184, 14%, 43%);
  --dark-grayish-cyan2: hsl(184, 14%, 56%);
  --light-grayish-cyan1: hsl(185, 41%, 84%);
  --light-grayish-cyan2: hsl(189, 41%, 97%);
}
html {
  font-size: 24px;
  background-color: var(--light-grayish-cyan1);
}
* {
  font-family: "Space Mono", monospace;
}
body {
  margin: 0;
}
main {
  min-height: 100vh;
  display: grid;
  place-content: center;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.25rem;
  color: var(--very-dark-cyan);
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.container {
  width: 32rem;
  max-width: calc(90vw - 3rem);
  border-radius: 0.8rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  background-color: white;
}
.action-group {
  width: calc(50% - 0.75rem);
}
.action-group p {
  font-size: 0.65rem;
  margin: 0.3rem 0;
  font-weight: 600;
  color: var(--dark-grayish-cyan1);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.icon {
  position: absolute;
  padding: calc(0.4rem + 2px) 0.5rem;
  height: 0.7rem;
  color: var(--dark-grayish-cyan2);
}
.action-group input {
  text-align: right;
  width: calc(100% - 1rem - 4px);
  outline: none;
  border: 2px solid transparent;
  background-color: var(--light-grayish-cyan2);
  padding: 0.3rem 0.5rem;
  font-size: 0.95rem;
  line-height: 1rem;
  color: var(--dark-grayish-cyan1);
  border-radius: 0.2rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.action-group input:hover,
#tip:hover {
  background-color: hsl(180, 100%, 96%);
}
.action-group input:active,
.action-group input:focus,
#tip:active,
#tip:focus {
  background-color: var(--light-grayish-cyan2);
  caret-color: var(--strong-cyan);
  border-color: var(--strong-cyan);
  font-weight: 700;
  color: var(--very-dark-cyan);
}
.action-group input::placeholder {
  color: var(--dark-grayish-cyan1);
}
.action-group input:focus::placeholder {
  color: transparent;
}
.bill-group,
.tip-percent-group {
  margin-bottom: 1.2rem;
}
.btn-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.btn-group .tip-btn {
  text-align: center;
  background-color: var(--very-dark-cyan);
  color: white;
  padding: 0.2rem 0;
  font-size: 0.95rem;
  outline: none;
  border: none;
  border-radius: 0.2rem;
  width: calc(33.33% - 0.34rem);
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn-group .tip-btn:hover,
.btn-group .tip-btn:active,
.active {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}
#tip {
  width: calc(33.33% - 1.34rem - 4px);
  background-color: var(--light-grayish-cyan2);
  color: var(--dark-grayish-cyan1);
  padding: 0 0.5rem;
  line-height: 1rem;
  font-size: 0.95rem;
}
.custom::placeholder {
  text-align: center;
}
.people-num-group .text-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.people-num-group .error {
  color: transparent;
}
.error-group input {
  border-color: red;
  font-weight: 700;
  color: var(--very-dark-cyan);
}
.error-group .error {
  text-align: right;
  color: red;
}
.display-group {
  border-radius: 0.5rem;
  background-color: var(--very-dark-cyan);
  padding: 1.5rem;
  width: calc(50% - 3.75rem);
  position: relative;
}
.display-group .display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.display .main {
  color: var(--light-grayish-cyan2);
  font-size: 0.7rem;
  margin: 0;
}
.display .sub {
  color: var(--dark-grayish-cyan2);
  font-size: 0.5rem;
  margin: 0;
}
.display .amount {
  margin: 0;
  font-size: 1.7rem;
  color: var(--strong-cyan);
}
.display-group button {
  width: calc(100% - 3rem);
  position: absolute;
  bottom: 1.5rem;
  padding: 0.3rem 0;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 0.2rem;
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
  cursor: pointer;
  transition: all 0.3s ease;
}
button:disabled,
button[disabled] {
  background-color: hsl(183, 100%, 23%);
  color: hsl(183, 100%, 19%);
  cursor: not-allowed;
}
button:active,
button:hover {
  background-color: hsl(183, 81%, 79%);
}
@media only screen and (max-width: 770px) {
  html {
    font-size: 18px;
  }
  body {
    display: grid;
    place-content: center;
  }
  main {
    width: 18rem;
    max-width: 90vw;
  }
  .container {
    width: calc(100% - 3rem);
  }
  .container > div {
    width: 100%;
  }
  .btn-group .tip-btn {
    width: calc(50% - 0.5rem);
  }
  #tip {
    width: calc(50% - 1.5rem - 4px);
  }
  .display-group button {
    position: unset;
    width: 100%;
  }
}
@media only screen and (min-width: 771px) and (max-width: 940px) {
  html {
    font-size: 20px;
  }
}
